<div class="features instructions">
  If you like this, we will polish the app and submit to Spotify for a review.
  In the meantime, the steps to install the app are below:
  <ol>
    <li>
      Go to <%= link_to "Spotify's Developer page", "https://developer.spotify.com/technologies/apps/#developer-account" %> to make your account a <strong>Developer</strong> account before you can install 3rd party apps.
      Quit and reopen Spotify. You should see an additional menu item "Develop" on the application's menu bar
    </li>
    <li>
      Create the following folder if you haven't already:
      <ul>
        <li><code>~/Spotify</code> (Mac OS X and Linux). Click <%= link_to "here", image_path('mac_instructions_1.png'), target: "_blank" %> for a screenshot instruction with Finder.</li>
        <li><code>"My Documents\Spotify"</code> (Windows)</li>
      </ul>
    </li>
    <li>
      <%= link_to "Download", "https://dl.dropbox.com/shz/pkk6s101qpe00jx/2im6gAh8oj/shotify?top_level_offset=24" %> our <strong>Shotify</strong> app,
      unzip and move into <code>~/Spotify/shotify</code> (Mac/Linux) or <code>"My Documents\Spotify\shotify"</code> (Windows).
    </li>
    <li>In Spotify's Search bar, type <code>spotify:app:shotify</code>. You should be good to go!</li>
    <li>Any issue or feedback? <%= mail_to 'shotify@toch.im', 'Email', encode: "javascript" %>, <%= link_to "tweet", "http://twitter.com/shotify" %> or <%= link_to "facebook", "http://facebook.com/shotify.us" %> us, We will respond super quickly!</li></li>
  </ol>
</div>
