<div class="page-container">
  <h1 id="header">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", class: 'logo' %>
    <% end %>
  </h1>
  <div id="main-background">
    <h2 class="slogan">
      Turn your Spotify playlist into <span class="powerhour">a Power Hour Mix</span>
    </h2>
    <div id="page1">
      <ul class="features">
        <li>Load a <em>playlist</em></li>
        <li>New <em>song</em> every minute</li>
        <li>One <em>shot</em> per minute!</li>
        <li>For ONE WHOLE HOUR!</li>
      </ul>
      <div class="open-spotify">
        <%= link_to "Give It A Try!", '#', class: 'btn btn-success btn-large', onclick: '$("#page1").fadeOut();$("#page2").fadeIn(); return false' %>
      </div>
    </div>
    <div id="page2" style="display:none">
      <%= render 'howto' %>
      <div class="why-spotify">
        <%= link_to "Why Shotify?", '#', class: 'btn btn-info btn-large', onclick: '$("#page2").fadeOut();$("#page1").fadeIn(); return false' %>
      </div>
    </div>
  </div>
</div>
