<div class="page-container">
  <h1 class="header">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", class: 'logo' %>
    <% end %>
  </h1>
  <div id="main-background">
    <h2 class="slogan">
      Turn your Spotify playlist into <span class="powerhour">a Power Hour Mix</span>
    </h2>
    <div class="container">
      <div id="page1" class="clearfix">
        <div class="row-fluid">
          <div class="span6">
            <ul class="features">
              <li>Load a <em>playlist</em></li>
              <li>New <em>song</em> every minute</li>
              <li>One <em>shot</em> per minute!</li>
              <li>For ONE WHOLE HOUR!</li>
            </ul>
          </div>
          <div class="span6">
            <div class="open-spotify">
              <%= link_to "Give It A Try!", '#', class: 'btn btn-success btn-large', onclick: '$("#page1, #video-box").fadeOut();$("#page2").fadeIn(); return false' %>
            </div>
          </div>
        </div>
      </div>
      <div id="page2" style="display:none">
        <%= render 'howto' %>
        <div style="clear:both"></div>
        <div class="why-spotify">
          <%= link_to "Why Shotify?", '#', class: 'btn btn-info btn-large', onclick: '$("#page2").fadeOut();$("#page1,#video-box").fadeIn(); return false' %>
        </div>
      </div>
      <div id="video-box">
        <iframe src="http://player.vimeo.com/video/51828405?title=0&amp;byline=0&amp;portrait=0" width="640" height="295" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
  <h1 class="header">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", class: 'logo' %>
    <% end %>
  </h1>
</div>
